{% extends "pitch/base.html" %}

{% block content %}

  <h1> Goal Document </h1>

  <h2> Summary </h2>
  <div id="summary">
    <section>
      <div>
        <span>Title</span>
        <span> Evaluating web based interface design patterns for data
          visualization.  </span>
      </div>
      <div>
        <span>Author</span>
        <span> Stefan Eng - </span>
        <a href="mailto:atn08sen@student.lu.se">atn08sen@student.lu.se</a>
      </div>
      <div>
        <span>Duration</span>
        <span>YYYY-MM ⟶  YYYY-MM+3 </span>
      </div>
    </section>
    <section>
      <div>
        <span>Context</span>
        <span>
          The Cinematic producer wants a at-a-glance readable overview of how much of
          each team members total work-time has been assigned to different tasks.
          Current design revolves around a light-weight webb-application created
          and hosted with <a href="www.python.org">Python</a> and <a
            href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>.
        </span>
        <p>
          There are three systems that need to be accessed in order for the
          planned application to have the desired effect:

          <dl>
            <dt>HRTB</dt>
            <dd>
              Internal MASSIVE HR-tool that has data about contract-hours and
              vacation.
            </dd>
            <dt><a href="https://www.shotgunsoftware.com/">Shotgun</a></dt>
            <dd>
              Content management and task-planning software used to assign and
              track tasks.
            </dd>
            <dt><a href="https://atlassian.com/software/jira">Jira</a></dt>
            <dd>
              Issue tracking software developed by Atlassian.
            </dd>
          </dl>

          In a nutshell:
          <ul>
            <li>Pick a user.</li>
            <li>Figure out how many hours they have available based on contract
            and vacation.</li>
            <li></li>
          </ul>
        </p>
      </div>
    </section>
  </div>


  <h2>References</h2>

  <a
    href="http://eds.a.ebscohost.com.ludwig.lub.lu.se/eds/detail/detail?vid=3&sid=
    e7393f57-fefe-49a8-9e49-cdbc44ef57aa%40sessionmgr4007&bdata=JnNpdGU9ZWRz
    LWxpdmUmc2NvcGU9c2l0ZQ%3D%3D#AN=lub.3201511&db=cat07147a">
    Don't make me think, revisited : a common sense approach to web usability.
  </a>

{%endblock%}
