{% extends "pitch/base.html" %}

{% block content %}

  <h1> Goal Document </h1>

  <div id="main">
    <section>
      <span>Title</span>
      <span> Evaluating web based interface design patterns for data
        visualization.  </span>
    </section>
    <section>
      <span>Author</span>
      <span> Stefan Eng - </span>
      <a href="mailto:atn08sen@student.lu.se">atn08sen@student.lu.se</a>
    </section>
    <section>
      <span>Duration</span>
      <span>YYYY-MM ⟶  YYYY-MM+3 </span>
    </section>
    <section>
      <span>Question</span>
      <span>How large of an impact do specific design-characteristics based on
        interface-design and cognition theory have on a users ability, when
        presented with data, to arrive at a specific conclusion?</span>
    </section>
    </section>
    <section>
      <span>Context</span>
      <span>
        The Cinematic producer wants a at-a-glance readable overview of how
        much of each team members total work-time has been assigned to tasks.
        I think this is a good opportunity to apply, test and evaluate
        different web-relevant user-interface design patterns in a
        filtered data-visualization setting.
      </span>
    </section>

    <h2>Desired Effects</h2>

    <section>
      <span>Academically</span>
      <span>
        Identifying popular user-interface designs from both academia and
        current trends. Design and perform tests in order to gather real-world
        user data to verify if the designs have the desired impact on the user
        experience.
      </span>
    </section>

    <section>
      <span>Application functionality</span>
      <span>
        Present approximate overview of assigned-to-available time ratio for
        the majority of the team-members in a verifiable digestible manner to
        Cinematics producer.
      </span>
    </section>


    <h2>Work-flows</h2>

    <section>
      <span>Academic</span>
      <ul>
        <li>Identify an applicable user interface pattern.</li>
        <li>Apply the pattern to the design of the application.</li>
        <li>Measure impact of the pattern.</li>
        <li>Repeat with new pattern.</li>
      </ul>
    </section>

    <section>
      <span>Application</span>
      <ul>
        <li>Pick a user.</li>
        <li>Check available hours based on contract and vacation.</li>
        <li>Figure out how many of those hours are assigned in Shotgun and
          Jira.</li>
        <li>Display relevant information in the application.</li>
      </ul>
    </section>

    <h2>Resources</h2>

    <section>
      <span>Data</span>
      <span>
        There are three systems that need to be accessed in order for the
        planned application to have the desired effect:
      </span>
      <dl>
        <dt>HRTB</dt>
        <dd>
          Internal MASSIVE HR-tool that has data about contract-hours and
          vacation.
        </dd>
        <dt><a href="https://www.shotgunsoftware.com/">Shotgun</a></dt>
        <dd>
          Content management and task-planning software used to assign and
          track tasks.
        </dd>
        <dt><a href="https://atlassian.com/software/jira">Jira</a></dt>
        <dd>
          Issue tracking software developed by Atlassian.
        </dd>
      </dl>
    </section>
    <section>
      <span>Platform & Design</span>
      <span>
        Current design revolves around a light-weight
        webb-application created and hosted with
        <a href="www.python.org">Python</a> and
        <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>.
      </span>
    </section>
  </div>


  <h2>Possible References</h2>

  <h3>Articles</h3>
  <ul>
    <li>
      <a href="http://ludwig.lub.lu.se/login?url=http://search.ebscohost.com.ludwig.lub.lu.se/login.aspx?direct=true&db=edseee&AN=edseee.4015439&site=eds-live&scope=site">
        Software Design Patterns for Information Visualization.
      </a>
    <li>
      <a href="http://ludwig.lub.lu.se/login?url=http://search.ebscohost.com.ludwig.lub.lu.se/login.aspx?direct=true&db=edseee&AN=edseee.4272047&site=eds-live&scope=site">
        The Effect of Aesthetic on the Usability of Data Visualization.
      </a>
    </li>
    <li>
      <a href="http://ludwig.lub.lu.se/login?url=http://search.ebscohost.com.ludwig.lub.lu.se/login.aspx?direct=true&db=edsarx&AN=edsarx.1211.6712&site=eds-live&scope=site">
        The effects of graphical interface design characteristics on human-computer
        interaction task efficiency.
      </a>
    </li>
    <li>
      <a
      href="http://ludwig.lub.lu.se/login?url=http://search.ebscohost.com.ludwig.lub.lu.se/login.aspx?direct=true&db=edseee&AN=edseee.6327280&site=eds-live&scope=site">
        Evaluating the Effect of Style in Information Visualization
      </a>
    </li>
  </ul>

  <h3>Books</h3>
  <ul>
    <li>
      <a href="http://eds.b.ebscohost.com.ludwig.lub.lu.se/eds/detail/detail?vid=12&sid=242d12bd-45b3-45b6-ac8b-ce032d7024f7%40sdc-v-sessmgr01&bdata=JnNpdGU9ZWRzLWxpdmUmc2NvcGU9c2l0ZQ%3D%3D#AN=lub.3201511&db=cat07147a">
        Don't make me think, revisited : a common sense approach to web
        usability / Steve Krug.
      </a>
    </li>
    <li>
      <a
        href="http://eds.b.ebscohost.com.ludwig.lub.lu.se/eds/detail/detail?vid=5&
        sid=242d12bd-45b3-45b6-ac8b-ce032d7024f7%40sdc-v-sessmgr01&bdata=JnNpdGU9Z
        WRzLWxpdmUmc2NvcGU9c2l0ZQ%3D%3D#AN=lub.3750650&db=cat07147a">
        The design of everyday things / Don Norman.
      </a>
    </li>
  </ul>

{%endblock%}
