<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='webapp.css') }}"></link>
    <title>Master Thesis Webapp</title>
  </head>
  <body>
    <div class='wrapper_page'>
      <div id='sidebar'>
        <div id='wrapper_buttons'>
          <form action='{{ url_for('webapp') }}' method='post'>
            {% for name in buttons %}
              <input type='submit' class='button_sidebar' name="btn_task_type" value="{{ name | title }}">
            {% endfor %}
            <input type='submit' class='button_sidebar button_abort' name='btn_abort' value="Abort Test"</input>
          </form>
        </div>
        <div id='data_additional'>
        </div>
      </div>
      <div id='wrapper_data'>
        <div id='data'>
          {% if data %}
            {{data | safe}}
          {% endif %}
          {% if task_type and not task_started %}
            <form action='{{ url_for('webapp') }}' method='post'>
              <input type='submit' class='button_start' name="btn_task_start" value="Start Task">
            </form>
          {% endif %}
          {% if not task_type %}
            <div id='select_activity'>
              <div id='stats_tasks'>
                <div>
                  User key: <span id='id_user'>{{ session.id_user }}</span>
                </div>
                <div>
                  Total tests completed: {{ stats.total }}
                </div>
                <div>
                  Remaining for survey: {{ [stats.required- stats.total, 0] | max }}
                </div>
                {% for type, num in stats.num_types.items() %}
                  <div> {{ type | title}} : {{ num }} </div>
                {% endfor %}
              </div>
              <form action="{{ url_for('webapp') }}" method="POST">
                {% if stats.total < stats.required %}
                  <input type="submit" name="btn_survey" value="Take Survey" disabled/>
                {% else %}
                  <input type="submit" name="btn_survey" value="Take Survey" />
                {% endif %}
              </form>
              Select a task type to the left to continue.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
