<html>
  <head>
    <style>
      .wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(20px, auto);
      }
      .wrapper div {
        border: 2px solid black;
        border-radius: 5px;
        padding: 1em;
      }
      .button {
        cursor: pointer;
      }
      {% for class in classes %}
        .{{class.name}} {
          grid-column: {{class.col}};
          grid-row: {{class.row}};
        }
      {% endfor %}
    </style>
    <script>
      function div_click(name) {

        var request = new XMLHttpRequest();
        var data;
        request.open('GET', `data/ui/${name}`, true);

        request.onload = function() {
          if (this.status >= 200 && this.status < 400) {
            data = JSON.parse(this.response);
            document.getElementById('data-view').innerText = data.name;
          } else {
            // Failed.
          }
        }

        request.onerror = function() {
          alert('AJAX failed!');
        }
        request.send();
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      {% for name in buttons%}
        <div id="{{ name }}" class="{{ name }} button" onclick="div_click('{{name}}')">{{ name | title }}</div>
      {% endfor %}
      {% for name in views%}
        <div id="{{ name }}" class="{{ name }}">{{ name | title }}</div>
      {% endfor %}
    </div>
  </body>
</html>
