exjobb/out
*.pdf
virt_py3
*.pyc
tags
blobby
auth_hrtb.py
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.guard
*/data_figures/*
sync_db.json
*-blx.bib
*.bcf
*.run.xml
**/msccls/vars
*.bacc
*.nav
*.snm
diff.*
**/diff/**

!/**/msccls/figures/captures/*.pdf
!/**/msccls/LU-logotyp-tryck-digitalt/**/*.pdf
!/**/msccls/logos/**/*.pdf
!/**/msccls/popsci/**/*.pdf
!/**/pdfs/*.pdf
!/**/presentationitmg/*.pdf
!template_report.pdf
