<!doctype html>
<html>
  <head>
    <title>Stefan Eng - Master diploma work</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Main navigation</h1>
    <a href="{{ url_for("pitch") }}">Pitch</a></br>
    <a href="{{ url_for("goaldoc") }}">Goal Document</a><br>
    <a href="{{ url_for("questions") }}">Interview Questions</a>
    <a href="{{ url_for("anon") }}">(ANON-ID sheet)</a>
    <a href="{{ url_for("questions_sum") }}">Q-summary</a>
    <hr>
    <a href="{{ url_for("logs") }}">Logs</a><br>
    <a href="{{ url_for("tests_list") }}">Showcase-Tests</a>
    <hr>
    UI-batch-1:
    {% for i in range(1,5) %}
      <a href="{{ url_for("ui", version="1."+i|string) }}">{{ "1."+i|string }}</a>
    {% endfor %}
    <br>
  </body>
</html>
