
@page {
  size: A4;
  margin-top: 0.8cm;
  font-size: 9pt;
}

body {
  font-size: 85%;
}

body {
  width: 90%;
}

section {
  margin-top: 1em;
}

#main section span:first-of-type {
  font-weight: bold;
}

#main dl {
  margin-left: 1em;
}

#main section span:first-of-type::after {
  content: ":";
}

a[href^="mailto:"]::before {
  content: "<";
}

a[href^="mailto:"]::after {
  content: ">";
}
