body {
  padding-left: 20px;
}

#summary {
  width: 60%;
}

section {
  margin-top: 1em;
}

#summary section div span:first-of-type {
  font-weight: bold;
}

#summary section div span:first-of-type::after {
  content: ":";
}

.email {
  font: monospace;
}

.email::before {
  content: "<";
}

.email::after{
  content: ">";
}
