#wrapper_page {
  height: 100%;
  width: 100%;
  font-size: 2.0vmin;
  border: 1px solid black;
  display: flex;
}

input {
  font-size: inherit;
}

#sidebar {
  flex-basis: 1vw;
  margin: 1em;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-left: 1px solid black;
  align-content: center;
  justify-content: center;
}

#info {
  align-self: center;
  font-size: 2.5vmin;
}

#info div {
  margin-top: 1em;
}

#data {
  width: 100%;
  height: 100%;
}

.button_sidebar {
  width: 100%;
  padding: 1.0em;
  border: 1px solid black;
  margin-bottom: 1em;
  cursor: pointer;

  border-radius: 8px;
  background-color: #3e8e41;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
}

.button_sidebar:hover {
  background-color: #4e9e51;
}

.button_sidebar:active{
  background: grey;
}

.button_sidebar:disabled {
  background: grey;
  cursor: not-allowed;
}

.button_abort:hover {
  background-color: #ff0000;
}

.button_abort {
  margin-top: 3em;
  background-color: #dd2222;
}

.button_start {
  margin-top: 10px;
  border-radius: 12px;
  padding: 15px 32px;
  background-color: #3e8e41;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  width: 100%;
}

.button_start:hover {
  background-color: #4e9e51;
}

svg {
  width: 100%;
  height: 100%;
}

svg .legend_title {
  font-size: 3vw;
  transform: translate(0, 1vw);
}

#checkbox-correct, .hidden {
  display: none;
}

.clickable:hover {
  fill: lightgrey;
}

.clickable {
  cursor: pointer;
}

.legendy, .legendx {
  font-weight: bold;
  text-anchor: middle;
}

.legend_title {
  text-anchor: middle;
}

.legendy {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.group_circle {
  cursor: pointer;
}

.group_circle text {
  pointer-events: none;
  font-size: 1.7vw;
  text-anchor: middle;
  dominant-baseline: middle;
  transform: translate(0em, 0.1em);
}

.group_circle:hover {
  fill: #616161;
}

.group_performance {
  cursor: pointer;
}

.group_performance rect:hover {
  pointer-events: bounding-box;
  fill: lightgrey;
}

.group_performance text {
  font-size: 1.5vw;
  pointer-events: none;
}

.text_performance {
  text-anchor: middle;
  dominant-baseline: middle;
}

#stats_tasks {
  text-align: left;
}

#stats_tasks div {
}

#main ul {
  list-style: none;
  padding: 0;
  margin: 0.2em;
  padding-left: 0.5em;
}

table {
  font-size: 1.7vw;
}

input[type='radio'] {
  width: 1.7vw;
  height: 1.7vw;
}

#initial_numbers {
  border-collapse: collapse;
  height: 1px;
}

#initial_numbers td, th {
  padding-top, margin-top: 0;
  width: 6em;
  text-align: center;
  border: 1px solid black;
  height: 100%;
}

#initial_numbers .noborder {
  border: none;
}

#initial_numbers .input_div {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

td input {
  cursor: pointer;
}

.input_div input {
  margin-top: 0;
  display: inline-block;
  height: 100%;
}

.input_div:hover {
  background: lightgrey;
}

.pointer {
  cursor: pointer;
}

#initial_numbers .numbers_question td {
  text-align: left;
  font-weight: bold;
}

#initial_survey {
  font-size: 3vw;
}

#messages {
  position: absolute;
  align-self: center;
  top: 2%;
}

.msg_success {
  background: green;
}

.msg_info {
  background: gray;
}

.answer_correct {
  color: green;
}

.answer_wrong {
  color: red;
}

#messages div {
  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 2vw;
  align-self: center;
  border-radius: 10px;
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
