body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 98%;
}

.wrapper_page {
  display: flex;
  flex-direction: row;
  margin: 1em;
  height: 100%;
}

#data {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid black;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 200px;
  margin-right: 1em;
}

#wrapper_data {
  display: flex;
  align-content: center;
  flex-grow: 1;
}

.button_sidebar {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1.0em;
  border: 1px solid black;
  margin-bottom: 1em;
}

.button_sidebar:hover {
  background: lightgrey;
}

.button_sidebar:active{
  background: grey;
}

.button_start {
  margin-top: 10px;
  font-size: 12vw;
  border-radius: 12px;
  padding: 15px 32px;
  background-color: #3e8e41;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
}

.button_start:hover {
  background-color: #4e9e51;
}

#description {
  margin-top: 45vh;
  margin-bottom: 1em;
  font-style: italic;
}

#svg-data {
  width: 100%;
  height: 100%;
}

#checkbox-correct, .hidden {
  display: none;
}

.clickable:hover {
  fill: lightgrey;
}

.clickable {
  cursor: pointer;
}

.legendy, .legendx {
  font-weight: bold;
  text-anchor: middle;
}

.legend_title {
  font-size: 20pt;
  text-anchor: middle;
}

.legendy {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

#select_activity {
  width: 100%;
  height: 100%;
  margin-top: 40vh;
}

.group_circle {
  cursor: pointer;
}

.group_circle text {
  pointer-events: none;
  font-size: 1.7vw;
  text-anchor: middle;
  dominant-baseline: middle;
  transform: translate(0em, 0.1em);
}

.group_circle:hover {
  fill: #616161;
}

.group_performance {
  cursor: pointer;
}

.group_performance rect:hover {
  pointer-events: bounding-box;
  fill: lightgrey;
}

.group_performance text {
  font-size: 1.5vw;
  pointer-events: none;
}


.text_performance {
  text-anchor: middle;
  dominant-baseline: middle;
}
